<a href="https://colab.research.google.com/github/okada-t-rafael/time_series_data_analysis/blob/master/16_Pandas_Data_Input_and_Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving example.csv to example.csv

In [4]:
df = pd.read_csv('example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
newdf = df[['a', 'b']]
newdf

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [11]:
newdf.to_csv('mynew.csv', index=False)

In [10]:
files.download('mynew.csv')

In [12]:
uploaded = files.upload()

Saving Excel_Sample.xlsx to Excel_Sample.xlsx

In [14]:
df = pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

In [15]:
df.columns

Index(['Unnamed: 0', 'a', 'b', 'c', 'd'], dtype='object')

In [16]:
df.drop('Unnamed: 0', axis=1)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [17]:
mylist_of_tables = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/banklist.html')

In [18]:
type(mylist_of_tables)

list

In [19]:
len(mylist_of_tables)

1

In [20]:
df = mylist_of_tables[0]
df

                             Bank Name  ...       Closing Date
0                 The First State Bank  ...      April 3, 2020
1                   Ericson State Bank  ...  February 14, 2020
2     City National Bank of New Jersey  ...   November 1, 2019
3                        Resolute Bank  ...   October 25, 2019
4                Louisa Community Bank  ...   October 25, 2019
..                                 ...  ...                ...
556                 Superior Bank, FSB  ...      July 27, 2001
557                Malta National Bank  ...        May 3, 2001
558    First Alliance Bank & Trust Co.  ...   February 2, 2001
559  National State Bank of Metropolis  ...  December 14, 2000
560                   Bank of Honolulu  ...   October 13, 2000

[561 rows x 6 columns]